<div class="py-1 bg-primary">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="pr-4 d-flex topper align-items-center text-lg-center">
                        <span class="text">This is a marketing message placeholder Stay Off</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>